.dates {
  font-family: 'Open Sans', sans-serif;
}
.dates .age {
  margin-top: 0.1em;
  font-size: 88%;
}
.dates .interval {
  white-space:nowrap;
  font-size:85%;
  display: inline-block;
}
.date .fixed {
  @include clickable;
}
.interval .start, .interval .end {
  font-weight:bold;
  display: inline-block;
}
.date .editing {
  display: inline-flex;
}
.date input {
  text-align: center;
}
.date .editing {
  .year, .month, .day {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
.date .editing .error {
  text-align: center;
  color: orange;
  margin-top: 0.2em;
}
.date .editing .widget-confirm, .date .editing .widget-cancel {
  margin: 0 0 0 0.2em;
  padding: 0;
}
.date .editing .description {
  text-align:center;
  margin-top: 0.05em;
  margin-bottom: 0.25em;
}
.date input:invalid, .date input.invalid {
  color:red;
  font-weight:bold;
}
