.primary {
  font-family: $theme-font;
  padding: 3px;
}
.primary .editing, .primary .full {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.primary .editing .edit-items {
  display: flex;
  justify-content: space-between;
}
.primary .confirm-edit {
  display: flex;
  flex-direction: column;
}
.primary .editing .sub-confirm-edit {
  width:100%;
  display:flex;
  justify-content: flex-end;
}
.primary .full {
  @include clickable;
}
.primary .full {
  .first, .middle, .last {
    margin: 0.27ex;
  }
}
.primary .edit-items .edit-item, .primary .append-middle {
  margin: 1ex;
}
.primary .edit-item .fas {
  @include clickable;
}
.primary .append-middle:hover {
  /* fern */
  @include clickable($append);
}
.primary .last {
  font-variant: small-caps;
}
.primary .first {
  font-weight: bold;
}
.primary .tools {
  display: flex;
}
.primary .fa-check, .primary .confirm-edit span.fa-check, .primary .sub-confirm-edit .fa-check {
  @include clickable($confirm);
}
.primary .fa-times, .primary .confirm-edit span.fa-times, .primary .sub-confirm-edit .fa-times {
  @include clickable($disagree);
}
.primary .edit-item .fas.fa-trash {
  @include clickable($danger);
}
.primary .tools .fas {
  margin: 0.2ex;
  padding: 0.2ex;
}
