@import '_reset.scss';
@import '_lib.scss';
@import 'fontawesome-all.min.css';
@import '_primary.scss';
@import '_nick.scss';

input {
  font-family: $theme-font;
  font-size: 100%;
  border-radius: 10px;
  border: solid 1px black;
  padding: 2px 6px 2px 6px;
}

.widget {
  &-moveleft, &-moveright, &-edit, &-delete, &-confirm, &-cancel, &-append {
    margin: 0.2ex;
    padding: 0.2ex;
  }
}

.widget-moveleft, .widget-moveright, .widget-edit {
  @include clickable;
}
.widget-delete {
  @include clickable($danger);
}
.widget-confirm {
  @include clickable($confirm);
}
.widget-cancel {
  @include clickable($disagree);
}
.widget-append {
  @include clickable($append);
}
