.namecard {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  padding: 0.3em;
  border-radius: 0.3em;
  /* Light gray */
  background-color: rgba(211,211,211,1.0);
  margin: 0.15em;
}
.namecard.gone {
  opacity: 0.8;
}
.namecard .main-info {
  display:inline-flex;
  align-items: flex-start;
}
.namecard .expander {
  text-align: center;
}
.namecard .expander:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,0.3);
  /*background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);*/
  box-shadow: inset 0px 0px 40px 40px rgba(255,255,255,0.3);
}
.namecard .expander .expand {
  width: 1em;
}
.namecard .summary {
  display: flex;
  flex-direction: column;
}
.namecard .dataline {
  margin: 0.3em 0 0.3em 0;
}
.primary {
  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
}
.name .primary:hover, .dates .minmax .date:hover, .namecard .dataline .key:hover, .namecard-actions .action .action-item:hover, .location .data .fa-map-marker:hover, .nickname:hover, .nicknames .fa-plus-circle:hover {
  filter: drop-shadow(0px 0px 2px black);
  cursor:pointer;
}
.dates .age {
  margin-top: 0.1em;
  font-size: 88%;
}
.dates .minmax {
  white-space:nowrap;
  font-size:78%;
  display: inline-block;
}
.namecard .portrait, .namecard .no-portrait {
  padding: 0.2em 0.25em 0.2em 0.25em;
  margin-right: 0.3em;
  width: 1.25em;
  text-align: center;
  display: inline-block;
  float: left;
  font-size: 2em;
  border: 0.08em solid #eee;
  border-radius: 0.1em;
  color: rgb(20,50,120);
}
.namecard .portrait .image-tools {
  position:relative;
  float:right;
  top: -1em;
  margin-bottom: -1em;
  font-size: 0.5em;
  color: rgba(0,0,0,0.2);
}
.namecard .portrait .fas, .connections .data .fab {
  transition: color 0.3s;
}
.namecard .portrait .fas:hover, .connections .data .fab:hover {
  color: rgba(255,255,255,1.0);
  filter: drop-shadow(0px 0px 2px black);
  cursor: pointer;
}
.namecard .portrait img {
  width: 100%;
  height: auto;
  max-height: 2em;
  display:block;
  /* could instead use "object-fit:contain; ? */
}
.namecard .portrait img:hover {
  filter: blur(1px);
  cursor: pointer;
}
.namecard .fas.no-portrait:hover {
  cursor:pointer;
}
.namecard .fas.no-portrait:hover:before {
  /* thanks http://astronautweb.co/snippet/font-awesome/ */
  content:"\f044";
}
.dates .date {
  font-weight:bold;
  display: inline-block;
}
.name .primary > div {
  margin-right: 0.52ex;
}
.primary .last {
  font-variant: small-caps;
}
.primary .first {
  font-weight: bold;
}
.namecard.male {
  /* Powder blue */
  background-color: rgba(176,224,230,1.0);
}
.namecard.female {
  /* Light pink */
  background-color: rgba(255,182,193,1.0);
}
.expanded-info {
  border-bottom: dotted 2px rgba(128,128,128,0.5);
}
.namecard-actions {
  margin-left: 1.2em;
  font-size: 85%;
  padding: 0.2em;
}
.namecard-actions .action {
  margin-top: 0.3em;
  margin-bottom: 0.4em;
}
.expanded-info {
  display: flex;
  flex-direction: column;
}
.expanded-info .dataline {
  display: flex;
  text-overflow: ellipsis;
  font-size: 90%;
}
.expanded-info .dataline .key {
  font-weight: bold;
  font-variant:small-caps;
  margin-right: 0.5em;
}
.expanded-info .dataline .data {
  max-width: 15em;
}
.nickname {
  font-size: 70%;
  display: inline-block;
}
.nickname::before {
  content: '\201C';
}
.nickname::after {
  content: '\201D, ';
}
.nickname:last-child::after {
  content: '\201D';
}
.phone li {
  margin-top: 0.2em;
}
